<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Recipes Generator</title>
    </head>
    <body>
        <div class="header">
            <h1>Recipe Generator</h1>
        </div>
        <div class="container">
              <form action="/" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ingredient" name="ingredient" placeholder="Ingredient" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
            {% if request != [] %}

              <div class="section">

                  <h2>Receipe Results</h2>
                  <table>
                      <thead>
                          <tr>
                              <th>Receipe</th>
                              <th>Photo</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Loop through the database entries to display them in this table -->
                          {% for recipe in recipe %}
                              <tr>
                                  <td>{{ recipe.title }}</td>
                                  <td><img src = {{recipe.image}} class = "image-class"></td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              {% endif %}
        </div>
      
    </body>
</html>